body {
  background-color: dimgrey;
}
.main-content {
  width: 100%;
  min-height: 1000px;
}

.padding-5 {
  padding: 5px;
}

.float-left {
  float: left;
}

.margin-left-05em {
  margin-left: 0.5em;
}
.margin-top-05em {
  margin-top: 0.5em;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-content {
  width: 80%;
  height: 30vh;
  background-color: #332d2d;

  border-radius: 10px;
  text-align: center;
}

.action-field {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 3%;
}

.center-margin {
  margin-left: auto;
  margin-right: auto;
}

/* gallery */

.inner_miniature_pic {
  max-width: 100%;
}

.out_pic_frame {
  border-radius: 3px;
  border: 2px solid;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  position: inherit;
}

.not_last_pic {
  float: left;
}

.inn_pic_frame {
  text-align: center;
}

.gallery_div {
  background-color: yellow;
  height: 100px;
  width: 100%;
  display: block;
}
h2 {
  clear: left;
}

/*chat GPT gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.gallery-item {
  position: relative;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  display: block;
}

.gallery-item input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: block;
  max-width: 300px;
  height: auto;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.caption h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

/* gallery preview */

.body-gal-prev {
  margin: 0;
  padding-top: 10px;
  background-color: dimgrey;
}

.container-gal-prev {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
  padding: 20px;
  background-color: #332d2d;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.container-gal-prev img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.caption-full-sc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
  padding: 10px 0px;
  font-size: 18px;
  text-align: center;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.number-text {
  position: absolute;
  top: 20px;
  color: #fff;
  font-size: 20px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-window {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 20px;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-window a {
  text-decoration: none;
  color: #fff;
}

.pic-prev-nav-form input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: block;
}

@media screen and (max-width: 700px) {
  .prev,
  .next {
    font-size: 20px;
    padding: 5px;
  }

  .caption-full-sc {
    font-size: 14px;
    padding: 5px;
  }
}
